{#
/**
 * @file
 * Theme implementation for the Voting Block.
 *
 * Available variables:
 * - questions: An array of questions to vote on.
 *
 * @see template_preprocess_voting_block()
 */
#}

<div class="voting-block">
  {% for question_id, question in questions %}
    <div class="question">
      <h3>{{ question.label }}</h3>
      {% if question.has_voted %}
        {% if question.show_results and question.total_votes is not null %}
          <p>{{ 'Total Votes:'|t }} {{ question.total_votes }}</p>
        {% endif %}
        <p>{{ 'You have already voted on this question.'|t }}</p>
      {% endif %}
      {% if question.can_vote %}
        <button class="toggle-answer-options" data-question-id="{{ question_id }}">{{ 'Show Answer Options'|t }}</button>
        <div class="answer-options" id="answer-options-{{ question_id }}" style="display: none;">
          <form class="vote-form" data-question-id="{{ question_id }}">
            <input type="hidden" name="question_id" value="{{ question_id }}">
            {% for option_id, option in question.answer_options %}
              <div class="answer-option">
                {% if option.image %}
                  <div class="answer-option-item">
                    <img src="{{ option.image }}" alt="{{ option.title }}">
                    <label>
                      <input type="radio" name="answer_option" value="{{ option_id }}" data-selected-option="image"> {{ 'Image'|t }}
                    </label>
                  </div>
                {% endif %}
                {% if option.title %}
                  <div class="answer-option-item">
                    <h4>{{ option.title }}</h4>
                    <label>
                      <input type="radio" name="answer_option" value="{{ option_id }}" data-selected-option="title"> {{ 'Title'|t }}
                    </label>
                  </div>
                {% endif %}
                {% if option.description %}
                  <div class="answer-option-item">
                    <p>{{ option.description }}</p>
                    <label>
                      <input type="radio" name="answer_option" value="{{ option_id }}" data-selected-option="description"> {{ 'Description'|t }}
                    </label>
                  </div>
                {% endif %}
              </div>
            {% endfor %}
            {% if question.answer_options is empty %}
              <p>{{ 'No selectable questions available'|t }}</p>
            {% else %}
              <button type="submit">{{ 'Vote'|t }}</button>
            {% endif %}
          </form>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>

{% set library = ['voting_module/voting_block'] %}
