{#
/**
 * @file
 * Theme implementation for the Voting Block.
 *
 * Available variables:
 * - questions: An array of questions to vote on.
 *
 * @see template_preprocess_voting_block()
 */
#}

<div class="voting-block">
  {% for question_id, question in questions %}
    <div class="question">
      <div class="question-options">
        {% if question.show_results and question.has_voted and question.total_votes is not null %}
          <h3 class="question-title">{{ question.label }} <div>({{ 'Total Votes:'|t }} {{ question.total_votes }})</div></h3>
        {% else %}
          <h3 class="question-title">{{ question.label }}</h3>
        {% endif %}
        <button class="toggle-answer-options" data-question-id="{{ question_id }}">{{ question.has_voted ? 'You have already voted on this question'|t : 'Show Answer Options'|t }}</button>
      </div>
      {% if question.can_vote %}
        <div class="answer-options" id="answer-options-{{ question_id }}" style="display: none;">
          <hr>
          <form class="vote-form" data-question-id="{{ question_id }}">
            <input type="hidden" name="question_id" value="{{ question_id }}">
            {% for option_id, option in question.answer_options %}
              <div class="answer-option">
                {% if option.title %}
                  <div class="answer-option-item title">
                    <label>
                      <input type="radio" name="answer_option" value="{{ option_id }}" data-selected-option="title"> {{ 'Title'|t }}
                    </label>
                    <div class="item">
                      <p>{{ option.title }}</p>
                    </div>
                  </div>
                {% endif %}
                {% if option.description %}
                  <div class="answer-option-item description">
                    <label>
                      <input type="radio" name="answer_option" value="{{ option_id }}" data-selected-option="description"> {{ 'Description'|t }}
                    </label>
                    <div class="item">
                      {{ option.description|raw }}
                    </div>
                  </div>
                {% endif %}
                {% if option.image %}
                  <div class="answer-option-item image">
                    <label>
                      <input type="radio" name="answer_option" value="{{ option_id }}" data-selected-option="image"> {{ 'Image'|t }}
                    </label>
                    <div class="item">
                      <img src="{{ option.image }}" alt="{{ option.title }}">
                    </div>
                  </div>
                {% endif %}
              </div>
            {% endfor %}
            {% if question.answer_options is empty %}
              <p>{{ 'No selectable questions available'|t }}</p>
            {% else %}
              <button class="voting-submit" type="submit">{{ 'Vote'|t }}</button>
            {% endif %}
          </form>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
